/**
 * Created by zengwei on 2017/9/6
 */

.edit-btn
  color #fff
  background-color transparent
  outline none
  border 1px solid #bfcbd9
  border-radius 3px
  font-size 12px
  padding 5px 10px
  transition all 150ms ease
  cursor pointer

.edit-btn:hover
  border-color #91a4ba
  background-color  #383838