$custom = #1a5c81
$screen-lg-min = 1200px
//$screen-sm-max = $screen-sm-min -1
$font-primary = 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
//$navbar_content_height = $navbar_height - $navbar_padding * 2
$box-shadow-btn = 0 5px 15px rgba(255,255,255,0.1)
$transition = all 300ms ease
$el-table-rowBg = #3a3a3a
$el-table-rowColor = #fff